
form.create-note{
  position: relative;
  width: 860px;
  max-width: 100%;
  /*margin: 0 auto 15px;*/
  background: #fff;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 5px #ccc;
}
form.create-note input, form.create-note textarea{
  width: 100%;
  max-width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
}
form.create-note button{
  position: absolute;
  right: 20px;
  bottom: -18px;
  font-size: 16px;
  background: #ff4081;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  cursor: pointer;
  outline: none;
}



/** WEBPACK FOOTER **
 ** webpack:///src/components/notes/Create.vue
 **/